@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-lato: Lato;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue-100: #004aad;
  --color-royalblue-200: rgba(0, 74, 173, 0.4);
  --color-gray-100: rgba(0, 0, 0, 0.9);
  --color-gray-200: rgba(0, 0, 0, 0.85);
  --color-gray-300: rgba(0, 0, 0, 0.7);
  --color-black: #000;
  --color-lavender: #cbe1ff;

  /* Gaps */
  --gap-5xl: 24px;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-mini: 15px;
}
